<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="caeb9e">  <td>19/02/22 22:45:01</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3c0f93f1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/02/22 22:45:01</td>   <td>779</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3c0f93f1]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/22 22:45:01</td>   <td>796</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3c0f93f1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@601893033</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>19/02/22 22:45:02</td>   <td>859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC002_CreateLead@3c0f93f1]">CreateLead</td> 
  <td>main@601893033</td>   <td></td> </tr>
</table>
