<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d86b78">  <td>19/02/18 17:13:05</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@71318ec4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>19/02/18 17:13:07</td>   <td>1800</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@71318ec4]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/02/18 17:13:07</td>   <td>1833</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@71318ec4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/02/18 17:13:07</td>   <td>2216</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@71318ec4]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1132547352</td>   <td></td> </tr>
</table>
